<div class="col-md-12 m-3" *ngIf="post; else loading">

    <h1>{{ page_title }}</h1>
    <p *ngIf="status == ''">
        Seccion para Editar POST con un <b>USUARIO</b>!!!
    </p>
    <hr/>
    <div class="alert alert-success col-md-6" *ngIf="status == 'success'">
      Post Editado correctamente. &nbsp; 
    </div>
  
    <div class="alert alert-danger col-md-6" *ngIf="status != '' && status != 'success'">
      Error al editar el Post. <br> &nbsp; 
    </div>
  
  
    <!-- Formulario de Ajustes -->
  
    <form  class="card p-3 col-md-6 " #posteditForm="ngForm" 
      (ngSubmit)="editpost(posteditForm)">
      <div class="form-group">
        <label for="name">Titulo</label>
        <input type="text" class="form-control" name="title" #title="ngModel"
        [(ngModel)]="post.title" required />
  
        <small *ngIf="title.invalid && title.touched" class="invalid-feedback d-block">
          El titulo no es Valido
        </small>
      </div>

      <div class="form-group">
        <label for="content">Contenido</label>
        <textarea [(froalaModel)]="post.content"
        [(ngModel)]="post.content"
        [froalaEditor]="opcionesfroala" type="text" 
        name="content" #content="ngModel" required></textarea>
        
        <small *ngIf="content.invalid && content.touched" class="invalid-feedback d-block">
            El contenido es obligatorio
        </small>
      </div>

      <div class="form-group">
          <label for="category_id">Selecciones Categorias</label>
          <select class="form-control" id="category_id" required
          name="category_id" #category="ngModel" [(ngModel)]="post.category_id">
            <option *ngFor="let category of categories" [value]="category.id">
              {{  category.name }}
            </option>
          </select>

        </div>

        <div class="form-group">
          <label for="image">Imagen Post</label>
          <div *ngIf="post.image" class="container my-3">
            <img src="{{ urlapi + 'post/image/' + post.image }}" alt="Imagen Avatar User"
            class="img-fluid">
          </div>
          <angular-file-uploader
            [config]="afuConfig"
            [resetUpload]=resetVar
            (ApiResponse)="ImagenUpload($event)">
          </angular-file-uploader>
    
        </div>
  
      <input type="submit" value="Editar Post" class="btn btn-success" 
            [disabled]="posteditForm.invalid">
    </form>
  
  
  
  </div>

  <ng-template #loading>
    Cargando data, por favor espere
  </ng-template>
  